/* all pages */

/* Body elements */
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}


/* Navbar elements */
.navbar {
    padding: 0px;
    background-color: white;
    margin-bottom: 2rem;
    border-bottom: 2px solid #cccccc;
}

/* navbar-brand and h1- my name */
.navbar-brand {
    padding: 0px;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0px;
    font-size: 1.5rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
}

/* nav bar links */
a {
    color: #777777;
}

/* Jumbotron all pages */
.jumbotron {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Main content header */
h2 {
    color: #4aaaa5;
    font-size: 32px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
}

/* footer all pages */
footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    clear: both;
}


/* ABOUT ME PAGE */
/* About me text/content */
.about-me {
    padding-left: 15px;
    padding-right: 15px;
}

/* pic of me on about me page */
.profile-pic {
  padding-bottom: 15px;
}


/* PORTFOLIO PAGE */
/* portfolio placeholder images */
.portfolio-img {
    padding-bottom: 20px;
}

.thumbnail {
    position: relative;
}

/* Project name banner over photo (h3 & .caption */
h3 {
    font-size: 22px;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
}

.caption {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
}



/* Media Queries */
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .profile-pic {
        padding-right: 15px;
        padding-bottom: 0px;
    }
}
