/* ALL PAGES */
body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* Full navbar */
.navbar {
    padding: 0px;
    margin-bottom: 40px;
    background-color: white;
    border-bottom: 2px solid #cccccc;
}

/* .navbar-brand and h1: my name */
.navbar-brand {
    padding: 0px;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0px;
    font-size: 1.5rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
}

/* .navbar-nav & a: navbar links */
.navbar-nav {
    padding-right: 20px;
    padding-left: 20px;
}

a {
    color: #777777;
}

/* Jumbotron: main content all pages */
.jumbotron {
    background-color: #ffffff;
}

/* Main content header */
h2 {
    color: #4aaaa5;
    font-size: 32px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
}

/* Footer all pages (sticky) */
footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    clear: both;
}

/* ABOUT ME PAGE */
/* About me text/content */
.about-me {
    padding-left: 15px;
    padding-right: 15px;
}

/* Pic of me */
.profile-pic {
  padding-bottom: 15px;
}

/* PORTFOLIO PAGE */
/* width set to 100% so that it is the full width of it's parent div, this way the project-title banner will be the full width of the image at all sizes */
.portfolio-img {
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}

/* .project-title uses absolute positiong so that I can place the project-title relative to it's parent element (portfolio-img) */
.project-title {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    padding: 5%;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
}

/* CONTACT PAGE */
.btn {
    background-color: #4aaaa5;
    border: none;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #666666;
}

.full {
    height: 100%;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .container {
        /* Floats main content container to the left when screen size reaches 768px */
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .profile-pic {
        padding-right: 18px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 414px) {
    .full {
        height: 80%;
    }
}